body {
	text-align: center;
	margin: 0;
}
header {
	background-color:#F15B31;
	font-color:white;
	padding:30px 20px 30px 20px;
}
nav {
	background-color: #00A6B3;
	font-color:white;
	padding:20px 0 20px 0;
}
a {
	margin: 0 20px 0 20px;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: white;
}

main {
	width:850px;
	margin:35px auto;
}
h1 {
	font-family:"Raleway", Sans-serif;
	color: white;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}
img {
	margin:40px 0 8px 8px;
}

.links {
	font-family: "Raleway", Sans-serif;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
}

#instructions {
	font-family: "Raleway", Sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

p {
	font-family: "Droid Serif, Serif;
	line-height: 26px;
	font-size; 18px;
}

footer {
	text-transform: uppercase;
	padding: 0 20px 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.copyright {
	font-style: "Raleway";
	float:left;
}
.message {
	font-style: "Raleway";
	float:right;
}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
} 

.name {
	color:#F15B31;
	font-weight: 700;
}

#game-board {
	cursor:pointer;
}
